In [1]:
import pandas as pd
import numpy as np

In [8]:
df_mad = pd.read_csv('../data-csv/data_madrid.csv')
print('Shape:', df_mad.shape)
df_mad.sort_values(by=['ASSETID', 'PERIOD', 'PRICE'], ascending=[True, False, True]).head(10)

Shape: (94815, 40)

,ASSETID,PERIOD,PRICE,UNITPRICE,CONSTRUCTEDAREA,ROOMNUMBER,BATHNUMBER,HASTERRACE,HASLIFT,HASAIRCONDITIONING,...,CADMAXBUILDINGFLOOR,CADDWELLINGCOUNT,CADASTRALQUALITYID,BUILTTYPEID_1,BUILTTYPEID_2,BUILTTYPEID_3,DISTANCE_TO_CITY_CENTER,DISTANCE_TO_METRO,DISTANCE_TO_MAIN,CITY
31501,1,201809,255000.0,2628.865979,97,3,2,0,1,0,...,7,8,6,0,0,1,7.829495,0.254412,3.027988,MADRID
84546,2,201806,82000.0,1322.580645,62,2,1,0,1,0,...,5,11,7,0,1,0,6.435241,0.268472,4.693939,MADRID
15541,3,201803,133000.0,1985.074627,67,3,1,1,0,1,...,5,17,7,0,0,1,4.836415,1.061146,2.623258,MADRID
16141,4,201803,204000.0,1133.333333,180,3,2,0,1,1,...,4,13,6,0,0,1,4.664784,0.427977,3.131739,MADRID
29351,5,201812,161000.0,2981.481481,54,2,1,0,0,1,...,3,7,6,0,0,1,4.063119,0.377045,2.702218,MADRID
21455,6,201803,210000.0,7500.000000,28,1,1,0,1,1,...,6,13,3,0,0,1,0.335694,0.258352,1.155600,MADRID
66878,6,201803,215000.0,7678.571429,28,1,1,0,1,1,...,6,13,3,0,0,1,0.267714,0.315838,1.082560,MADRID
1733,6,201803,230000.0,8214.285714,28,1,1,0,1,1,...,6,13,3,0,0,1,0.241875,0.291301,1.070058,MADRID
55470,7,201806,78000.0,1368.421053,57,3,1,0,0,1,...,6,25,6,0,1,0,7.269907,0.280549,4.381209,MADRID
87448,8,201812,387000.0,2976.923077,130,4,2,1,1,0,...,7,87,4,0,0,1,6.523381,0.549109,5.305096,MADRID

In [9]:
# Deduplicate
# Step 1: Sort by 'ASSETID', 'PERIOD' (descending), 'PRICE' (ascending)
df_sorted = df_mad.sort_values(by=['ASSETID', 'PERIOD', 'PRICE'], ascending=[True, False, False])

# Step 2: Drop duplicates based on 'ASSETID', keeping the first occurrence
df_ded = df_sorted.drop_duplicates(subset=['ASSETID'], keep='first')

# Resulting DataFrame
print('Deduped shape:', df_ded.shape)
df_ded.head(10)

Deduped shape: (75804, 40)

,ASSETID,PERIOD,PRICE,UNITPRICE,CONSTRUCTEDAREA,ROOMNUMBER,BATHNUMBER,HASTERRACE,HASLIFT,HASAIRCONDITIONING,...,CADMAXBUILDINGFLOOR,CADDWELLINGCOUNT,CADASTRALQUALITYID,BUILTTYPEID_1,BUILTTYPEID_2,BUILTTYPEID_3,DISTANCE_TO_CITY_CENTER,DISTANCE_TO_METRO,DISTANCE_TO_MAIN,CITY
31501,1,201809,255000.0,2628.865979,97,3,2,0,1,0,...,7,8,6,0,0,1,7.829495,0.254412,3.027988,MADRID
84546,2,201806,82000.0,1322.580645,62,2,1,0,1,0,...,5,11,7,0,1,0,6.435241,0.268472,4.693939,MADRID
15541,3,201803,133000.0,1985.074627,67,3,1,1,0,1,...,5,17,7,0,0,1,4.836415,1.061146,2.623258,MADRID
16141,4,201803,204000.0,1133.333333,180,3,2,0,1,1,...,4,13,6,0,0,1,4.664784,0.427977,3.131739,MADRID
29351,5,201812,161000.0,2981.481481,54,2,1,0,0,1,...,3,7,6,0,0,1,4.063119,0.377045,2.702218,MADRID
1733,6,201803,230000.0,8214.285714,28,1,1,0,1,1,...,6,13,3,0,0,1,0.241875,0.291301,1.070058,MADRID
55470,7,201806,78000.0,1368.421053,57,3,1,0,0,1,...,6,25,6,0,1,0,7.269907,0.280549,4.381209,MADRID
81138,8,201812,396000.0,3046.153846,130,4,2,1,1,0,...,7,87,4,0,0,1,6.453848,0.604400,5.262124,MADRID
21683,9,201809,260000.0,3095.238095,84,1,1,0,1,1,...,8,98,4,0,0,1,1.560128,0.336041,1.579208,MADRID
9141,10,201803,280000.0,2800.000000,100,3,2,0,1,1,...,7,203,4,0,0,1,9.142658,0.176679,8.008129,MADRID